<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/29653ac336.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Raleway:wght@300&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <section>
                <div class="detail-container">
                    <article class="product-preview">
                        <div id="image-container">
                            <img src="/images/<%= product.image %>" alt="" id="product-image">
                        </div>
                    </article>
                    <article class="product-info">
                        <h2 id="product-name">
                            <%= product.name %>
                        </h2>
                        <br>
                        <span class="product-price">
                            $<%= product.price %>
                        </span>
                        <br>
                        <section class="product-description">
                            <%= product.description %>
                        </section>
                        <br>

                        <div class="buttons-container">
                            <div>
                                <button id="buy-button" class="boton-comprar">Comprar</button">
                            </div>
                            <% if (locals.isLogged == true) { %>
                                <div class="admin-buttons">
                                    <button id="edit-button"><a id="edit-a-button"
                                            href="/tienda/edit/<%= product.id %>/">Editar Producto</a></button>
                                    <form action="/tienda/delete/<%= product.id %>/" method="POST">
                                        <button id="delete-button">Eliminar Producto</button>
                                    </form>
                                </div>
                            <% } %>

                        </div>
                    </article>

                </div>
            </section>
        </main>
        <script src="/js/carrito.js"></script>
        <%- include('./partials/footer') %>
</body>

</html>